@import './variable';

* {
  box-sizing: border-box;
}

.starter {
  font-size: 18px;
}

.Aplication {
  box-sizing: border-box;
  height: 100vh;
  background-color: $bacground-color;

  &__title {
    margin: 0;
    box-sizing: border-box;
  }
}
