@import '../../variable';

.Field {
  display: flex;
	justify-content: center;
	align-items:flex-start;
  flex-direction: row;

	height: 100%;
  gap: 30px;
  padding-top: 200px;


  &-container {
    display: grid;
    height: 310px;
    grid: 100px 100px 100px / 100px 100px 100px;
    gap: 5px;
    background-color: $frame-color;

  }

  &__block {
    background-color: $field-color;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

svg {
  display: block;
}

.close-x {
  stroke: #c4c5c5;
  fill: transparent;
  stroke-linecap: butt;
  stroke-width: 3;
}
